html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.search-left-section {
  height: calc(100vh - 120px)
}

.search-right-section {
  height: calc(100vh - 65px)
}

.airtable-embed-height {
  height: calc(100vh - 200px)
}

.header {
  background-color: #3B4869
}